@mixin for-phone-only {
    @media (max-width: 650px) { @content; }
}

@mixin for-tablet-portrait-up {
    @media (max-width: 768px) { @content; }
}

@mixin for-tablet-portrait-down {
    @media (min-width: 769px) { @content; }
}

@mixin for-tablet-landscape-up {
    @media (max-width: 992px) { @content; }
}

@mixin for-tablet-landscape-down {
    @media (min-width: 993px) { @content; }
}

@mixin for-desktop-up {
    @media (min-width: 1200px) { @content; }
}
