body{
  font-size: 16px;
  font-family: Georgia, 'Times New Roman', Times, serif;    padding: 0;
  margin: 0;
  min-height: 100vh;

}

.section-container {
  padding: 2rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  background: #000492;
  min-height: 85vh;
  padding-top: 4rem;
}
