@import url('https://unpkg.com/ionicons@4.4.4/dist/css/ionicons.min.css');
@import '../../_config/styles/variables';
@import '../../_config/styles/theme';

nav.responsive-toolbar {
    background: #333;
    top: 0;
    height: 60px;
    width: 100%;
    position: fixed;
    box-shadow: 2px 2px 2px #ccc;

    ul{
        background: #333;
        display: flex;
        margin-block-start: 0;
        margin-block-end: 0;
        padding-inline-start: 0;
        height: 100%;
        align-items: center;
        box-shadow: 2px 2px 2px #ccc;

        figure{
            margin-block-start: 0;
            margin-block-end: 0;
            margin-inline-start: 2px;
            margin-inline-end: 0;
            cursor: pointer;
            i{ 
                display: none;
            }
        }

        li{
            list-style-type: none;

            &.active {
                background: #999;
            }
        }
        a{
            color: white;
            text-decoration: none;
            display: flex;
            flex-direction: row-reverse;
            padding: 10px 20px;
        }
        i{
            margin-right: 0.5rem;
            font-size: 1rem; 
        }
    }
}
@include for-phone-only{
    nav.responsive-toolbar {
        ul{
            height: 100%;
            width: 300px;
            left: -240px;
            position: fixed;
            top: 60px; 
            flex-direction: column;
            transition: 300ms ease all;
            &.active{
                left: 0px;
            }
            
            figure{
                position: fixed;
                left: 9px;
                top: 10px;
                i{   
                    display: inline;
                    margin-right: 0.5rem;
                    font-size: 3rem;
                    color: aliceblue;
                }
            }

            li{
                width: 100%;
                padding-left: 0;
                padding-right: 0;
            }
            a{
                flex-direction: row;
                justify-content: space-between;
                margin-left: 20px;
            }
        }
    }
}